@font-face {
  font-family: Basiic;
  src: url(basiic.ttf);
}

body {
    margin: 0;
    font-family: Basiic;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(239, 225, 233);
  }
  
  .container {
    display: flex;
    height: 100vh;
    padding: 1rem;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
  }
  
button {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    background: #412b3e;
    border: none;
    cursor: pointer;
    color: rgb(239, 225, 233);
    font-family: Basiic;
  }

button a {
    text-decoration: none;
  }
  
  .main-content {
    flex: 1;
    flex-direction: column;
  }
  
  .banner {
    background: #412b3e;
    padding: 1rem;
    margin-bottom: 1rem;

  }
  
  .banner h1 {
    margin: 0;
    
  }
  
  .content-box {
    background: #412b3e;
    flex: 1;
    flex-direction: column;
    padding: 2rem;
    position: relative;
  }
  
  .main-text {
    font-size: 1.5rem;
  }
  
  .footer-text {
    position: absolute;
    bottom: 1rem;
    font-style: italic;
  }
  .rightbar {
    margin-left: 1rem;
  }
  a{
    color: white;
  }